# 1000보다 작은 자연수 중에서 3 또는 5의 배수를 모두 더하면?
- 10보다 작은 자연수 중에서 3 또는 5의 배수는 3, 5, 6, 9 이고, 이것을 모두 더하면 23입니다.
- 1000보다 작은 자연수 중에서 3 또는 5의 배수를 모두 더하면 얼마일까요?

In [24]:
# 10보다 작은 자연수 리스트 생성
number = list(range(1,10))
number

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
# 3 또는 5의 배수 number_list에 저장
number_list = []
for num in number:
    if num % 3 == 0:
        number_list.append(num)
    elif num % 5 == 0:
        number_list.append(num)
number_list

[3, 5, 6, 9]

In [28]:
# 연습문제 풀이
sum = 0

for i in number_list:
    sum += i
sum

23

In [38]:
# 1000 보다 작은 자연수 생성
number_under_1000 = list(range(1,1001))
number_under_1000[-5:]

[996, 997, 998, 999, 1000]

In [32]:
number_list = []
sum = 0

for num in number_under_1000:
    if num % 3 == 0 or num % 5 ==0 :
        number_list.append(num)
        for n in number_list:
            sum += n
n

1000

In [39]:
# 2
number_list = []
sum = 0

for num in number_under_1000:
    if num % 3 == 0 or num % 5 ==0 :
        number_list.append(num)
    for n in number_list:
        sum += n
sum

78011782

In [40]:
# 3
number_list = []
sum = 0

for num in number_under_1000:
    if num % 3 == 0 or num % 5 ==0 :
        number_list.append(num)
for n in number_list:
    sum += n
sum

234168

In [43]:
# 4
number_list = []
sum = 0

for num in number_under_1000:
    if num % 3 == 0 or num % 5 ==0 :
        number_list.append(num)
number_list[-5:]

[993, 995, 996, 999, 1000]

In [44]:
sum = 0

for n in number_list:
    sum += n
sum

234168

- 3 또는 5의 배수 : 3의 배수이거나, 5의 배수 => ex. 210, 300는 둘 중 하나에만 해당!

In [ ]:
# 변수 설정
numbers = list(range(1,1001))
numbers

In [75]:
# 1
number_list = []
sum = 0

for num in numbers:
    if num % 3 == 0 | num % 5 :
        number_list.append(num)
for num_15 in number_list:
    if num_15 % 15 == 0:
        number_list.remove(num_15)
for i in number_list:
    sum += i

sum

66531

In [69]:
# 2.
number_list = []
sum = 0

for num in numbers:
    if num % 3 == 0 | num % 5 :
        number_list.append(num)
if num_15 in number_list:
    number_list.remove(num_15)
for i in number_list:
    sum += i

sum

98704

In [74]:
# 3.
number_list = []
new_list = []
sum = 0

for num in numbers:
    if num % 3 == 0 or num % 5:
        number_list.append(num)
for i in number_list:
    if i not in new_list:
        new_list.append(i)
for k in new_list:
    sum += k

sum

433165