# 1000보다 작은 자연수 중에서 3 또는 5의 배수를 모두 더하면?
- 10보다 작은 자연수 중에서 3 또는 5의 배수는 3, 5, 6, 9 이고, 이것을 모두 더하면 23입니다.
- 1000보다 작은 자연수 중에서 3 또는 5의 배수를 모두 더하면 얼마일까요?

In [24]:
# 10보다 작은 자연수 리스트 생성
number = list(range(1,10))
number

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
# 3 또는 5의 배수 number_list에 저장
number_list = []
for num in number:
    if num % 3 == 0:
        number_list.append(num)
    elif num % 5 == 0:
        number_list.append(num)
number_list

[3, 5, 6, 9]

In [28]:
# 연습문제 풀이
sum = 0

for i in number_list:
    sum += i
sum

23

In [38]:
# 1000 보다 작은 자연수 생성
number_under_1000 = list(range(1,1001))
number_under_1000[-5:]

[996, 997, 998, 999, 1000]

In [32]:
number_list = []
sum = 0

for num in number_under_1000:
    if num % 3 == 0 or num % 5 ==0 :
        number_list.append(num)
        for n in number_list:
            sum += n
n

1000

In [39]:
# 2
number_list = []
sum = 0

for num in number_under_1000:
    if num % 3 == 0 or num % 5 ==0 :
        number_list.append(num)
    for n in number_list:
        sum += n
sum

78011782

In [40]:
# 3
number_list = []
sum = 0

for num in number_under_1000:
    if num % 3 == 0 or num % 5 ==0 :
        number_list.append(num)
for n in number_list:
    sum += n
sum

234168

In [43]:
# 4
number_list = []
sum = 0

for num in number_under_1000:
    if num % 3 == 0 or num % 5 ==0 :
        number_list.append(num)
number_list[-5:]

[993, 995, 996, 999, 1000]

In [44]:
sum = 0

for n in number_list:
    sum += n
sum

234168

- 3 또는 5의 배수 : 3의 배수이거나, 5의 배수 => ex. 210, 300는 둘 중 하나에만 해당!

In [ ]:
# 변수 설정
numbers = list(range(1,1001))
numbers

In [75]:
# 1
number_list = []
sum = 0

for num in numbers:
    if num % 3 == 0 | num % 5 :
        number_list.append(num)
for num_15 in number_list:
    if num_15 % 15 == 0:
        number_list.remove(num_15)
for i in number_list:
    sum += i

sum

66531

In [79]:
# 1-1.
number_list = []
sum = 0

for num in numbers:
    if num % 3 == 0 | num % 5 == 0 :
        number_list.append(num)
for num_15 in number_list:
    if num_15 % 15 == 0:
        number_list.remove(num_15)
for i in number_list:
    sum += i

sum

16830

In [69]:
# 2.
number_list = []
sum = 0

for num in numbers:
    if num % 3 == 0 | num % 5 :
        number_list.append(num)
if num_15 in number_list:
    number_list.remove(num_15)
for i in number_list:
    sum += i

sum

98704

In [78]:
# 2-1.
number_list = []
sum = 0

for num in numbers:
    if num % 3 == 0 | num % 5 ==0 :
        number_list.append(num)
if num_15 in number_list:
    number_list.remove(num_15)
for i in number_list:
    sum += i

sum

33165

In [74]:
# 3.
number_list = []
new_list = []
sum = 0

for num in numbers:
    if num % 3 == 0 or num % 5:
        number_list.append(num)
for i in number_list:
    if i not in new_list:
        new_list.append(i)
for k in new_list:
    sum += k

sum

433165

In [77]:
# 3-1.
number_list = []
new_list = []
sum = 0

for num in numbers:
    if num % 3 == 0 or num % 5 ==0:
        number_list.append(num)
for i in number_list:
    if i not in new_list:
        new_list.append(i)
for k in new_list:
    sum += k

sum

234168

In [76]:
# 4.
number_list = []
new_list = []
sum = 0

for num in numbers:
    if num % 3 == 0 or num % 5 == 0:    # num % 5 == 0 !! <- 위에 있는 코드는 오류가 날 수 밖에 없음!
        number_list.append(num)
for i in number_list:
    if i not in new_list:
        new_list.append(i)
for k in new_list:
    sum += k

sum

234168

In [3]:
# 5. 3의 배수 리스트 저장
number = list(range(1, 1001))
multiply_3 = []

for num in number:
    if num % 3 == 0:
        multiply_3.append(num)

In [4]:
# 5. 5의 배수 리스트 저장
multiply_5 = []

for num in number:
    if num % 5 == 0:
        multiply_5.append(num)

[5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 50,
 55,
 60,
 65,
 70,
 75,
 80,
 85,
 90,
 95,
 100,
 105,
 110,
 115,
 120,
 125,
 130,
 135,
 140,
 145,
 150,
 155,
 160,
 165,
 170,
 175,
 180,
 185,
 190,
 195,
 200,
 205,
 210,
 215,
 220,
 225,
 230,
 235,
 240,
 245,
 250,
 255,
 260,
 265,
 270,
 275,
 280,
 285,
 290,
 295,
 300,
 305,
 310,
 315,
 320,
 325,
 330,
 335,
 340,
 345,
 350,
 355,
 360,
 365,
 370,
 375,
 380,
 385,
 390,
 395,
 400,
 405,
 410,
 415,
 420,
 425,
 430,
 435,
 440,
 445,
 450,
 455,
 460,
 465,
 470,
 475,
 480,
 485,
 490,
 495,
 500,
 505,
 510,
 515,
 520,
 525,
 530,
 535,
 540,
 545,
 550,
 555,
 560,
 565,
 570,
 575,
 580,
 585,
 590,
 595,
 600,
 605,
 610,
 615,
 620,
 625,
 630,
 635,
 640,
 645,
 650,
 655,
 660,
 665,
 670,
 675,
 680,
 685,
 690,
 695,
 700,
 705,
 710,
 715,
 720,
 725,
 730,
 735,
 740,
 745,
 750,
 755,
 760,
 765,
 770,
 775,
 780,
 785,
 790,
 795,
 800,
 805,
 810,
 815,
 820,
 825,
 830,
 835,
 840,
 845,
 850,
 855,
 860,
 865,
 870,
 875,
 880,
 885,
 890,
 895,
 900,
 905,
 910,
 915,
 920,
 925,
 930,
 935,
 940,
 945,
 950,
 955,
 960,
 965,
 970,
 975,
 980,
 985,
 990,
 995,
 1000]