---
71.

In [ ]:
my_variable = ()
print(my_variable)

()

---
72.

In [ ]:
movie_rank = ('닥터 스트레인지', '스플릿', '럭키')
print(movie_rank)

('닥터 스트레인지', '스플릿', '럭키')

---
73.

In [ ]:
tup = (1)
print(tup)

1

---
74.

In [ ]:
t = (1, 2, 3)
t[0] = 'a'      # 튜플은 변경이 불가능한 컬렉션이다.

TypeError: ignored

---
75.

In [ ]:
t = 1, 2, 3, 4      # tuple

---
76.

In [ ]:
t = ('a', 'b', 'c')     # 수정 불가능!
t.replace('a', 'A')

AttributeError: ignored

---
77.

In [ ]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')
print(list(interest))

['삼성전자', 'LG전자', 'SK Hynix']

---
78.

In [ ]:
interest = ['삼성전자', 'LG전자', 'SK Hynix']
print(tuple(interest))

('삼성전자', 'LG전자', 'SK Hynix')

---
79.

In [ ]:
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)      # apple banana cake

apple banana cake

---
80.

In [4]:
a = tuple(range(1,99,2))
print(a)

(1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97)

In [5]:
# 
data = tuple(range(2,100,2))
print(data)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)