---
121.

In [ ]:
text = input()

print(text.upper() if text.islower() == True else text.lower())

q
Q

---
122.

In [ ]:
test = int(input())

if test >= 81:
    print('score is A')
elif test >= 61:
    print('score is B')
elif test >= 41:
    print('score is C')
elif test >= 21:
    print('score is D')
else:
    print('score is F')

78
score is B

In [21]:
# 
score = input('score:')
score = int(score)

if 81 <= score <= 100:
    print('grade is A')
elif 61 <= score <= 80:
    print('grade is B')
elif 41 <= score <= 60:
    print('grade is C')
elif 21 <= score <= 40:
    print('grade is D')
else:
    print('grade is E')

score:50
grade is C

---
★ 123.
- dict, split, unpacking

In [ ]:
test = input()

if test.split()[-1] == '달러':
    print(str(int(test.split()[0]) * 1167), '원') 
elif test.split()[-1] == '엔':
    print(str(int(test.split()[0]) * 1.096), '원')
elif test.split()[-1] == '유로':
    print(str(int(test.split()[0]) * 1268), '원')
elif test.split()[-1] == '위안':
    print(str(int(test.split()[0]) * 171), '원')

100 유로
126800 원

In [22]:
# 
currency = {'달러': 1167,
            '엔': 1.096,
            '유로': 1268,
            '위안': 171}
user = input('입력: ')
num, cur = user.split()
print(float(num) * currency[cur], "원")

입력: 1000 달러
1167000.0 원

---
124.

In [ ]:
a = int(input('input number1:'))
b = int(input('input number2:'))
c = int(input('input number3:'))

print(max(a,b,c))

input number1:5
input number2:7
input number3:10
10

In [28]:
# 
num1 = input("input number1: ")
num2 = input("input number2: ")
num3 = input("input number3: ")
num1 = int(num1)
num2 = int(num2)
num3 = int(num3)

if num1 >= num2 and num1 >= num3:
    print(num1)
elif num2 >= num1 and num2 >= num3:
    print(num2)
else:
    print(num3)

input number1: 5
input number2: 8
input number3: 99
99

---
★ 125.
- f-string

In [ ]:
test = input()

if test.split('-')[0] == '011':
    print('당신은 SKT 사용자입니다.')
elif test.split('-')[0] == '016':
    print('당신은 KT 사용자입니다.')
elif test.split('-')[0] == '019':
    print('당신은 LGU 사용자입니다.')
else :
    print('당신은 알수없음 사용자입니다.')

016-6565-454
당신은 KT 사용자입니다.

In [29]:
# 
number = input("휴대전화 번호 입력: ")
num = number.split("-")[0]
if num == "011":
    com = "SKT"
elif num == "016":
    com = "KT"
elif num == "019":
    com = "LGU"
else:
    com = "알수없음"
print(f"당신은 {com} 사용자입니다.")

휴대전화 번호 입력: 010-888-555
당신은 알수없음 사용자입니다.

---
126.

In [ ]:
test = int(input('우편번호:').split()[-1][2])

if test in range(0,3):
    print('강북구')
elif test in range(3,6):
    print('도봉구')
elif test in range(6,9):
    print('노원구')

우편번호:01355
도봉구

In [31]:
# 
우편번호 = input("우편번호: ")
우편번호 = 우편번호[:3]
if 우편번호 in ["010", "011", "012"]:
    print("강북구")
elif 우편번호 in ["014", "015", "016"]:
    print("도봉구")
else:
    print("노원구")

우편번호: 01857
노원구

---
127.

In [ ]:
test = int(input('주민등록번호:').split('-')[-1][0])

if test in range(1,4,2):
    print('남자')
elif test in range(2,5,2):
    print('여자')

주민등록번호:811111-3789456
남자

In [32]:
# 
주민번호 = input("주민등록번호: ")
주민번호 = 주민번호.split("-")[1]
if 주민번호[0] == "1" or 주민번호[0] == "3":
    print("남자")
else:
    print("여자")

주민등록번호: 7894564-1237894
남자

---
★ 128.
- slicing

In [ ]:
test = input('주민등록번호:').split('-')[-1][:2]

if test in ['00','01','02','03','04','05','06']:
    print('서울 입니다')
elif test in ['09','10','11','12']:
    print('서울이 아닙니다.')

주민등록번호:4567891-12874512
서울이 아닙니다.

In [33]:
# 
주민번호 = input("주민등록번호: ")
뒷자리 = 주민번호.split("-")[1]
if 0 <= int(뒷자리[1:3]) <= 8:
    print("서울입니다.")
else:
    print("서울이 아닙니다.")

주민등록번호: 789452-2784561
서울이 아닙니다.

---
★ 129.
- 변수

In [13]:
a = input('주민등록번호:').split('-')

''' 1.              # for i in range(0,8)
int(a[0][0]) + 2    # int(a[0][i]) + (i+2)
int(a[0][1]) + 3       
int(a[0][2]) + 4
int(a[0][3]) + 5
int(a[0][4]) + 6
int(a[0][5]) + 7
int(a[0][6]) + 8
int(a[0][7]) + 9    
...                 # for i in range(0,3)
int(a[0][8]) + 2    # int(a[0][i+8]) + (i+2) 
int(a[0][9]) + 3
int(a[0][10]) + 4
int(a[0][11]) + 5
'''

''' 2. 
sum() % 11 == 11 - int(a[0][12])    
print('유효한 주민등록번호입니다.')

sum() % 11 != 11 - int(a[0][12])    
print('유효하지 않은 주민등록번호입니다.')

11 - 나머지 = int(a[0][12]) ---> 나머지 = 11 - int(a[0][12])
'''

print(a, type(a))

주민등록번호:11111111-4444444
['11111111', '4444444'] <class 'list'>

In [34]:
# 
num = input("주민등록번호: ")
계산1 = int(num[0]) * 2 + int(num[1]) * 3 + int(num[2]) * 4 + int(num[3]) * 5 + int(num[4]) * 6 + \
        int(num[5]) * 7 + int(num[7]) * 8 + int(num[8]) * 9 + int(num[9]) * 2 + int(num[10])* 3 + \
        int(num[11])* 4 + int(num[12]) * 5
계산2 = 11 - (계산1 % 11)
계산3 = str(계산2)

if num[-1] == 계산3[-1]:
    print("유효한 주민등록번호입니다.")
else:
    print("유효하지 않은 주민등록번호입니다.")

주민등록번호: 911112-1444444
유효한 주민등록번호입니다.

---
★ 130.
- request, 변수

In [14]:
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']

In [17]:
btc

{'acc_trade_value': '65101689070.8446',
 'acc_trade_value_24H': '85444786788.2237',
 'closing_price': '46628000',
 'date': '1643454890250',
 'fluctate_24H': '1073000',
 'fluctate_rate_24H': '2.36',
 'max_price': '46999000',
 'min_price': '45513000',
 'opening_price': '45689000',
 'prev_closing_price': '45687000',
 'units_traded': '1402.73943323',
 'units_traded_24H': '1850.16865892'}

In [19]:
if int(btc['opening_price']) + int(btc['max_price']) - int(btc['min_price']) > int(btc['max_price']):
    print('상승장')
else:
    print('하락장')

상승장

In [35]:
#
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']

변동폭 = float(btc['max_price']) - float(btc['min_price'])
시가 = float(btc['opening_price'])
최고가 = float(btc['max_price'])

if (시가+변동폭) > 최고가:
    print("상승장")
else:
    print("하락장")

상승장