---
251.

In [ ]:
# 클래스: 실현되지 않은 추상적인 것
# 객체: 클래스를 구현하기 위해 만든 것
# 인스턴스: 클래스와의 관계에서, 클래스의 인스턴스

---
252.

In [1]:
class Human:
    def __init__(self):
        pass

In [ ]:
# 
class Human:
    pass

---
253.

In [2]:
areum = Human()

---
254.

In [3]:
class Human:
    def __init__(self):
        print('응애응애')

areum = Human()

응애응애

---
255.

In [5]:
class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

areum = Human('아름', 25, '여자')

---
256.

In [11]:
class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

        print(f'이름: {self.name}, 나이: {self.age}, 성별: {self.sex}')

areum = Human('조아름', 25, '여자')
areum.age

이름: 조아름, 나이: 25, 성별: 여자

25

---
257.

In [17]:
class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

        print(f'이름: {self.name}, 나이: {self.age}, 성별: {self.sex}')

    def who(self):
        print(f'이름: {self.name}, 나이: {self.age}, 성별: {self.sex}')

areum.who()

이름: 조아름, 나이: 25, 성별: 여자

In [27]:
#
class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

    def who(self):
        print("이름: {} 나이: {} 성별: {}".format(self.name, self.age, self.sex))

areum = Human("아름", 25, "여자")
areum.who()      # Human.who(areum)

이름: 아름 나이: 25 성별: 여자

---
258.

In [18]:
class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

    def setInfo(self, name, age, sex):
        print(f'이름: {name}, 나이: {age}, 성별: {sex}')

areum = Human('모름', 0, '모름')
areum.setInfo('아름', 25, '여자')

이름: 모름, 나이: 0, 성별: 모름
이름: 아름, 나이: 25, 성별: 여자

In [ ]:
#
class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

    def who(self):
        print("이름: {} 나이: {} 성별: {}".format(self.name, self.age, self.sex))

    def setInfo(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex


areum = Human("불명", "미상", "모름")
areum.who()      # Human.who(areum)

areum.setInfo("아름", 25, "여자")
areum.who()      # Human.who(areum)

---
259.

In [25]:
class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

    def __del__(self):
        print('나의 죽음을 알리지 말라')

areum = Human('아름', 25, '여자')
del areum

나의 죽음을 알리지 말라

---
260.

In [26]:
class OMG : 
    def print() :
        print("Oh my god")

>>> >>> myStock = OMG()
>>> myStock.print()
TypeError Traceback (most recent call last)
<ipython-input-233-c85c04535b22> in <module>()
----> myStock.print()

TypeError: print() takes 0 positional arguments but 1 was given