---
221.

In [2]:
def print_reverse(string):
    print(string[::-1])

---
222.

In [125]:
def print_score(score):
    sum = 0
    
    for i in score:
        sum += i
    print(sum / len(score))

In [126]:
def print_score(score_list):
    print(sum(score_list) / len(score_list))

---
223.

In [15]:
def print_even(num):
    for i in num:
        if i % 2 == 0:
            print(i)

---
★ 224.
- dict.keys()

In [22]:
def print_keys(dic):
    for key in dic:
        print(key)

In [127]:
#
def print_keys(dic):
    for keys in dic.keys():
        print(keys)

In [128]:
print_keys ({"이름":"김말똥", "나이":30, "성별":0})

이름
나이
성별

---
225.

In [32]:
def print_value_by_key(dic, date):
    print(dic[date])

In [34]:
my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}

print_value_by_key(my_dict, "10/27")

[10, 12, 10, 11]

---
226.

In [56]:
def print_5xn(string):
    print(string[:5])
    print(string[5:10])

In [129]:
# 
def print_5xn(line):
    chunk_num = int(len(line) / 5)
    for x in range(chunk_num + 1):
        print(line[x * 5: x * 5 + 5])

In [130]:
print_5xn("아이엠어보이유알어걸")

아이엠어보
이유알어걸

---
227.

In [143]:
def printmxn(string, num):
    number = int(len(string) / num)

    for i in number:
        print(string[i * 0 : i * 0 + num])

In [145]:
#
def print_mxn(line,num):
    chunk_num = int(len(line) / num)
    for i in range(chunk_num+1):
        print(line[i * num : i * num + num])

In [146]:
print_mxn("아이엠어보이유알어걸", 3)

아이엠
어보이
유알어
걸

---
228.

In [121]:
def calc_monthly_salary(annual_salary):
    print(int(annual_salary / 12))

In [122]:
calc_monthly_salary(12000000)

1000000

---
229.

In [123]:
def my_print(a, b):
    print('왼쪽:', a)
    print('오른쪽:',b)

my_print(a=100, b=200)  # 왼쪽: 100, 오른쪽:200

왼쪽: 100
오른쪽: 200

---
230.

In [124]:
def my_print(a,b):
    print('왼쪽:', a)
    print('오른쪽:', b)

my_print(b=100, a=200)  # 왼쪽: 200, 오른쪽: 100

왼쪽: 200
오른쪽: 100