---
11.

In [ ]:
삼성전자 = 50000
print(삼성전자 * 10)

500000

In [ ]:
# 
삼성전자 = 5000
총평가금액 = 삼성전자 * 10
print(총평가금액)

50000

---
12.

In [ ]:
a = '298조'
b = '50,000원'
c = 15.79
print(a); print(b); print(c)

298조
50,000원
15.79

In [ ]:
# 
시가총액 = 29800000000
현재가 = 5000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

29800000000 <class 'int'>
5000 <class 'int'>
15.79 <class 'float'>

---
13.

In [ ]:
s = 'hello'
t = 'python'
print(s, t, sep='! ')

hello! python

In [ ]:
# 
print(s+'!', t)

hello! python

---
14.

In [ ]:
print(2 + 2 * 3)    # 8

8

---
15.

In [ ]:
a = '132'
type(a)     # str

str

----
16.

In [ ]:
num_str = '720'
print(int(num_str))

720

In [ ]:
# 
num_str = '720'
num_int = int(num_str)
print(num_int, type(num_int))

720 <class 'int'>

---
17.

In [ ]:
num = 100

In [ ]:
# 
result = str(num)
print(result, type(result))

100 <class 'str'>

---
18.

In [ ]:
a = '15.79'
float(a)

15.79

---
19.

In [ ]:
year = '2020'
year = int(year)

In [ ]:
print(year-2, year-1, year)

2018 2019 2020

In [ ]:
# 
print(int(year)-3)
print(int(year)-2)
print(int(year)-1)

2017
2018
2019

---
20.

In [ ]:
price = 48584 * 36
print(price)

1749024

In [ ]:
# 
월 = 48584
총금액 = 월 * 36
print(총금액)

1749024