---
191.

In [6]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for row in data:
    for col in row:
        print(col * (1 + 0.014/100))

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

---
192.

In [9]:
for row in data:
    for col in row:
        print(col * (1 + 0.014/100))
    print('----')

2000.28
3050.427
2050.2870000000003
1980.2772
----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
----
15452.163
15052.107
15552.177
14902.086000000001
----

---
193.

In [17]:
result = []

for row in data:
    for col in row:
        result.append(col * (1 + 0.014/100))
print(result)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

---
★ 194.
- 빈 리스트 활용

In [53]:
result = []

for row in data:
    for col in row:
        result.append(col * (1 + 0.014/100))
print([result[0:4], result[4:8], result[8:]])

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [117]:
#
result = []
for line in data:
    sub = []
    for column in line:
        sub.append(column * 1.00014)
    result.append(sub)
print(result)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

---
195.

In [71]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for row in ohlc[1:]:
    for col in row[3:4]:
        print(col)

100
190
310

In [118]:
#
for row in ohlc[1:]:
    print(row[3])

100
190
310

---
196.

In [75]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for row in ohlc[1:]:
    for col in row[3:4]:
        if col >= 150:
            print(col)

190
310

---
196.

In [84]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for row in ohlc[1:]:
    if row[3] >= 150:
        print(row[3])

190
310

In [120]:
#
for row in ohlc[1:]:
    if (row[3] > 150):
        print(row[3])

190
310

---
197.

In [85]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for row in ohlc[1:]:
    if row[-1] >= row[0]:
        print(row[-1])

100
310

---
198.

In [94]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

volatility = []
for row in ohlc[1:]:
    vo = row[1] - row[2]
    volatility.append(vo)
print(volatility)

[40, 30, 10]

In [121]:
#
volatility = []
for row in ohlc[1:]:
    volatility.append(row[1] - row[2])

---
199.

In [96]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for row in ohlc[1:]:
    if row[-1] > row[0]:
        print(row[-1] - row[0])

10

---
200.

In [116]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

sum = []
plus = []
for row in ohlc[1:]:
    sum.append(row[-1] - row[0])
print(sum[0] + sum[1] + sum[2])

0

In [122]:
#
profit = 0
for row in ohlc[1:]:
    profit += (row[3] - row[0])