---
171.

In [5]:
price_list = [32100, 32150, 32000, 32500]

for i in range(4):
    print(price_list[i])

32100
32150
32000
32500

In [80]:
# len() 함수를 사용하면, price_list가 변해도 코드의 수정이 필요 X
for i in range(len(price_list)):
    print(price_list[i])

32100
32150
32000
32500

---
★ 172.
- enumerate()

In [6]:
price_list = [32100, 32150, 32000, 32500]

for i in range(4):
    print(i, price_list[i])

0 32100
1 32150
2 32000
3 32500

In [81]:
#
price_list = [32100, 32150, 32000, 32500]
for i, data in enumerate(price_list):
    print(i, data)

0 32100
1 32150
2 32000
3 32500

---
★ 173.
- 정수를 사용하기 보다, 변수 지정해서 사용

In [15]:
price_list = [32100, 32150, 32000, 32500]

for i in range(4):
    print(3 - i, price_list[i])

3 32100
2 32150
1 32000
0 32500

In [82]:
#
for i in range(len(price_list)):
    print((len(price_list) - 1) - i, price_list[i])

3 32100
2 32150
1 32000
0 32500

---
174.

In [26]:
price_list = [32100, 32150, 32000, 32500]

for i in range(1,4):
    print(i*10 + 90, price_list[i])

100 32150
110 32000
120 32500

---
★ 175.
- indexing

In [84]:
my_list = ['가','나','다','라']

for i in range(0,3):
    print(my_list[i], my_list[i+1])

가 나
나 다
다 라

In [85]:
# 
for i in range( len(my_list) - 1 ) :
  print(my_list[i], my_list[i+1])

가 나
나 다
다 라

In [86]:
#
for i in range( 1, len(my_list) ) :
  print(my_list[i-1], my_list[i])

가 나
나 다
다 라

---
176.

In [87]:
my_list = ['가','나','다','라','마']

for i in range(0,3):
    print(my_list[i], my_list[i+1], my_list[i+2])

가 나 다
나 다 라
다 라 마

In [88]:
#
for i in range( len(my_list) - 2 ):
    print(my_list[i], my_list[i+1], my_list[i+2])

가 나 다
나 다 라
다 라 마

In [89]:
# 
for i in range( 1, len(my_list) - 1 ):
    print(my_list[i-1], my_list[i], my_list[i+1])

가 나 다
나 다 라
다 라 마

In [90]:
#
for i in range( 2, len(my_list) ):
    print(my_list[i-2], my_list[i-1], my_list[i])

가 나 다
나 다 라
다 라 마

---
★ 177.
- indexing

In [93]:
my_list = ['가','나','다','라']

for i in range(3,-1,-1):
    print(my_list[i], my_list[i-1])

라 다
다 나
나 가
가 라

In [94]:
#
for i in range(len(my_list) - 1, 0, -1):
    print(my_list[i], my_list[i-1])

라 다
다 나
나 가

In [95]:
#
for i in range(len(my_list) - 1):
    print(my_list[len(my_list) - 1 - i], my_list[len(my_list) - 2 - i])

라 다
다 나
나 가

---
★ 178.
- len()

In [97]:
my_list = [100, 200, 400, 800]

for i in range(3):
    print(my_list[i+1] - my_list[i])

100
200
400

In [98]:
#
for i in range(len(my_list) - 1):
    print(abs(my_list[i+1] - my_list[i]))

100
200
400

---
★ 179.
- abs(): 절대값 구하는 함수

In [99]:
my_list = [100,200,400,800,1000,1300]

for i in range(0,4):
    lst = my_list[i] + my_list[i+1] + my_list[i+2]
    print(lst / 3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [100]:
# 
for i in range(1, len(my_list) - 1):
    print(abs(my_list[i-1] + my_list[i] + my_list[i+1]) / 3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

---
★ 180.
- len()

In [102]:
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
volatility = []

for i in range(5):
    v = high_prices[i] - low_prices[i]
    volatility.append(v)
print(volatility)

[50, 100, 30, 80, 0]

In [103]:
#
volatility = []
for i in range(len(low_prices)) :
    volatility.append(high_prices[i] - low_prices[i])