---
31.

In [ ]:
a = "3"
b = "4"
print(a + b)    # 3 4

34

---
32.

In [ ]:
print("HI" * 3)     # HIHIHI

HIHIHI

---
33.

In [ ]:
print('-' * 80)

--------------------------------------------------------------------------------

---
34.

In [ ]:
t1 = 'python'
t2 = 'java'
print( (t1 + ' '+ t2 + ' ') * 4)

python java python java python java python java

In [ ]:
# 
t3 = t1 + ' ' + t2 + ' '
print(t3 * 4)

python java python java python java python java

---
35.

In [ ]:
# % formatting
name1 = '김민수'
age1 = 10
name2 = '이철희'
age2 = 13

In [ ]:
# print 포맷팅에서 %s는 문자열 데이터 타입의 값을 %d는 정수형 데이터 타입 값의 출력
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

---
36.

In [ ]:
# format()
'이름: {0} 나이: {1} 이름: {2} 나이: {3}'.format('김민수', 10, '이철희', 13)

'이름: 김민수 나이: 10 이름: 이철희 나이: 13'

In [ ]:
# 문자열의 포맷 메서드는 타입과 상관없이 값이 출력될 위치에 { }를 적어주면 된다.
print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

---
37.

In [ ]:
# f-string
f'이름: {name1} 나이: {age1} 이름: {name2} 나이: {age2}'

'이름: 김민수 나이: 10\n.join(이름: 이철희 나이: 13)'

In [ ]:
# 
print(f'이름: {name1} 나이: {age1}')
print(f'이름: {name2} 나이: {age2}')

이름: 김민수 나이: 10
이름: 이철희 나이: 13

---
38.

In [ ]:
상장주식수 = "5,969,782,550"
int(상장주식수.replace(',',''))

5969782550

In [ ]:
# 
상장주식수 = "5,969,782,550"
컴마제거 = 상장주식수.replace(",", "")
타입변환 = int(컴마제거)
print(타입변환, type(타입변환))

5969782550 <class 'int'>

---
39.

In [ ]:
분기 = "2020/03(E) (IFRS연결)"
분기.split( )[0].split('(')[0]

'2020/03'

In [ ]:
# 문자열 슬라이싱
분기[:7]

'2020/03'

---
40.

In [ ]:
data = "   삼성전자    "
data.split()[0]

'삼성전자'

In [ ]:
# strip()
data.strip()

'삼성전자'