---
141.

In [2]:
lst = [100, 200, 300]

for i in lst:
    print(i + 10)

110
210
310

---
142.

In [3]:
lst = ['김밥', '라면', '튀김']

for i in lst:
    print('오늘의 메뉴: ', i)

오늘의 메뉴:  김밥
오늘의 메뉴:  라면
오늘의 메뉴:  튀김

---
143.

In [4]:
lst = ['SK하이닉스', '삼성전자', 'LG전자']

for i in lst:
    print(len(i))

6
4
4

---
144.

In [5]:
lst = ['dog', 'cat', 'parrot']

for i in lst:
    print(f'{i}', len(i))

dog 3
cat 3
parrot 6

---
145.

In [8]:
lst = ['dog', 'cat', 'parrot']

for i in lst:
    print(i[0])

d
c
p

---
146.

In [9]:
lst = [1,2,3]

for i in lst:
    print(3, 'x', i)

3 x 1
3 x 2
3 x 3

---
147.

In [11]:
lst = [1,2,3]

for i in lst:
    print(3, 'x', i, '=', 3 * i)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [49]:
# 
lst = [1,2,3]
for i in lst:
    print(f'3 x {i} = {i * 3}')

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [50]:
#
lst = [1,2,3]
for i in lst:
    print('3 x {} = {}'.format(i, 3 * i))

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

---
★ 148.
- slicing

In [18]:
lst = ['가', '나', '다', '라']

for i in range(1,4):
    print(lst[i])

나
다
라

In [51]:
#
lst = ['가','나','다','라']

for i in lst[1:]:
    print(i)

나
다
라

---
★ 149.
- list slicing[start:end:step]

In [19]:
lst = ['가','나','다','라']

for i in range(0,4,2):
    print(lst[i])

가
다

In [52]:
#
lst = ['가','나','다','라']

for i in lst[::2]:
    print(i)

가
다

---
★ 150.
- slicing

In [48]:
lst = ['가','나','다','라']
lst.sort(reverse=True)

for i in lst:
    print(i)

라
다
나
가

In [53]:
#
lst = ['가','나','다','라']

for i in lst[::-1]:
    print(i)

라
다
나
가