---
231.

In [1]:
def n_plus_1(n):
    result = n + 1

n_plus_1(3)
print(result)   # 4

NameError: ignored

In [ ]:
# 함수 내부에서 사용한 변수는 함수 밖에서 접근이 불가능하다. 
# 함수 내부에서 계산한 값을 전달하기 위해서는 return을 사용

---
★ 232.
- return

In [4]:
def make_url(url):
    print(f'www.{url}.com')

make_url('naver')

www.naver.com

In [20]:
#
def make_url(url):
    return f'www.{url}.com'

make_url('daum')

'www.daum.com'

---
★ 233.
- 비어있는 리스트 함수 안에서 정의하기

In [8]:
lst = []

def make_list(string_list):
    for i in string_list:
        lst.append(i)
    print(lst)

make_list("abcd")

['a', 'b', 'c', 'd']

In [21]:
# 
def make_list(string):
    return list(string)

---
★ 234.
- 비어있는 리스트 함수 안에 정의
- return

In [11]:
lst = []

def pickup_even(num_list):
    for num in num_list:
        if num % 2 == 0:
            lst.append(num)
    print(lst)

pickup_even([3, 4, 5, 6, 7, 8])

[4, 6, 8]

In [22]:
#
def pickup_even(items):
    result = []
    for item in items:
        if item % 2 == 0:
            result.append(item)
    return result

---
★ 235.
- replace()
- return

In [13]:
def convert_int(str_number):
    print(int(''.join(str_number.split(','))))

convert_int("1,234,567")

1234567

In [23]:
#
def convert_int(string):
    return int(string.replace(',',''))

---
236.

In [14]:
def func(num):
    return num + 4

a = func(10)
b = func(a)
c = func(b)
print(c)

'''
14
18
22
22
'''

22

'\n14\n18\n22\n22\n'

In [24]:
# 각각의 변수에 함수의 return 값이 바인딩(저장)됨

---
237.

In [15]:
def func(num):
    return num + 4

c = func(func(func(10)))
print(c)    # 22

22

---
238.

In [16]:
def func1(num):
    return num + 4

def func2(num):
    return num * 10

a = func1(10)
c = func2(a)
print(c)    # 140

140

---
239.

In [17]:
def func1(num):
    return num + 4

def func2(num):
    num = num + 2
    return func1(num)

c = func2(10)
print(c)    # 16

16

---
240.

In [18]:
def func0(num):
    return num * 2

def func1(num):
    return func0(num + 2)

def func2(num):
    num = num + 10
    return func1(num)

c = func2(2)
print(c)    # 28

28