---
261.

In [2]:
class Stock:
    pass

---
262.

In [3]:
class Stock:
    def __init__(self, name, code):
        self.name = name
        self.code = code

samsung = Stock('삼성전자', '005930')

---
263.

In [40]:
class Stock:
    def __init__(self, name, code):
        self.name = name
        self.code = code

    def set_name(self, name):
        self.name = name

a = Stock(None, None)
a.set_name('삼성전자')

In [41]:
#
print(a.name)

삼성전자

---
264.

In [43]:
class Stock:
    def __init__(self, name, code):
        self.name = name
        self.code = code

    def set_name(self, name):
        self.name = name

    def set_code(self, code):
        self.code = code

a = Stock(None, None)
a.set_code('005930')

In [44]:
#
print(a.code)

005930

---
265.

In [45]:
class Stock:
    def __init__(self, name, code):
        self.name = name
        self.code = code

    def set_name(self, name):
        self.name = name

    def set_code(self, code):
        self.code = code

    def get_name(self, name):
        return self.name

    def get_code(self, code):
        return self.code

samsung = Stock('삼성전자', '005930')

In [24]:
print(samsung.get_name('삼성전자'))
print(samsung.get_code('005930'))

삼성전자
005930

In [51]:
#
class Stock:
    def __init__(self, name, code):
        self.name = name
        self.code = code

    def set_name(self, name):
        self.name = name

    def set_code(self, code):
        self.code = code

    def get_name(self):
        return self.name

    def get_code(self):
        return self.code

samsung = Stock("삼성전자", "005930")
print(samsung.name)
print(samsung.code)
print(samsung.get_name())
print(samsung.get_code())

삼성전자
005930
삼성전자
005930

---
266.

In [25]:
class Stock:
    def __init__(self, name, code, PER, PBR, rate):
        self.name = name
        self.code = code
        self.PER = float(PER)
        self.PBR = float(PBR) 
        self.rate = float(rate)

    def set_name(self, name):
        self.name = name

    def set_code(self, code):
        self.code = code

    def get_name(self, name):
        return self.name

    def get_code(self, code):
        return self.code

In [52]:
#
class Stock:
    def __init__(self, name, code, per, pbr, 배당수익률):
        self.name = name
        self.code = code
        self.per = per
        self.pbr = pbr
        self.배당수익률 = 배당수익률

    def set_name(self, name):
        self.name = name

    def set_code(self, code):
        self.code = code

    def get_name(self):
        return self.name

    def get_code(self):
        return self.code

---
267.

In [32]:
s = Stock('삼성전자', '005930', 15.79, 1.33, 2.83)
s.PER

15.79

---
268.

In [30]:
class Stock:
    def __init__(self, name, code, PER, PBR, rate):
        self.name = name
        self.code = code
        self.PER = float(PER)
        self.PBR = float(PBR) 
        self.rate = float(rate)

    def set_name(self, name):
        self.name = name

    def set_code(self, code):
        self.code = code

    def get_name(self, name):
        return self.name

    def get_code(self, code):
        return self.code

    def set_per(self, PER):
        return PER

    def set_pbr(self, PBR):
        return PBR
    
    def set_dividend(self, rate):
        return rate

In [57]:
#
class Stock:
    def __init__(self, name, code, per, pbr, dividend):
        self.name = name
        self.code = code
        self.per = per
        self.pbr = pbr
        self.dividend = dividend

    def set_name(self, name):
        self.name = name

    def set_code(self, code):
        self.code = code

    def get_name(self):
        return self.name

    def get_code(self):
        return self.code

    def set_per(self, per):
        self.per = per

    def set_pbr(self, pbr):
        self.pbr = pbr

    def set_dividend(self, dividend):
        self.dividend = dividend

---
269.

In [58]:
s = Stock('삼성전자', '005930', 15.79, 1.33, 2.83)
s.set_per(12.75)

In [59]:
#
print(s.per)

12.75

---
270.

In [37]:
stock1 = Stock('삼성전자', '005930', 15.79, 1.33, 2.83)
stock2 = Stock('현대차', '005380', 8.70, 0.35, 4.27)
stock3 = Stock('LG전자', '066570', 317.34, 0.69, 1.37)

stock_list = []
stock_list.append(stock1)
stock_list.append(stock2)
stock_list.append(stock3)

In [39]:
for stock in stock_list: 
    print(stock.code)
    print(stock.PER)

005930
15.79
005380
8.7
066570
317.34