---
285.

In [9]:
class Car:
    def __init__(self, tire, price):
        self.tire = tire
        self.price = price

class Automobile(Car):
    def info(self):
        print(f'바퀴수 {self.tire}\n가격 {self.price}')

car = Automobile(4,1000)
car.info()

바퀴수 4
가격 1000

In [ ]:
#
class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격


class 자동차(차):
    def __init__(self, 바퀴, 가격):
        super().__init__(바퀴, 가격)

    def 정보(self):
        print("바퀴수 ", self.바퀴)
        print("가격 ", self.가격)

---
286.

In [12]:
class Car:
    def __init__(self, tire, price):
        self.tire = tire
        self.price = price


class Bicycle(Car):
    def __init__(self, tire, price, carchain):
        super().__init__(tire, price)
        self.carchain = carchain

    def info(self):
        print(f'바퀴수 {self.tire}\n가격 {self.price}')

bicycle = Bicycle(2,100,"시마노")
bicycle.info()

바퀴수 2
가격 100

In [13]:
# 

class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격

    def 정보(self):
        print("바퀴수 ", self.바퀴)
        print("가격 ", self.가격)

class 자동차(차):
    def __init__(self, 바퀴, 가격):
        super().__init__(바퀴, 가격)

class 자전차(차):
    def __init__(self, 바퀴, 가격, 구동계):
        super().__init__(바퀴, 가격)
        self.구동계 = 구동계

bicycle = 자전차(2, 100, "시마노")
bicycle.정보()

바퀴수  2
가격  100