---
181.

In [2]:
a = ['101호','102호']
b = ['201호','202호']
c = ['301호','302호']
apart = [a, b, c]
print(apart)

[['101호', '102호'], ['201호', '202호'], ['301호', '302호']]

---
182.

In [3]:
a = [100, 200, 300]
b = [80, 210, 330]
stock = [a, b]
print(stock)

[[100, 200, 300], [80, 210, 330]]

In [26]:
#
stock = [ ["시가", 100, 200, 300], ["종가", 80, 210, 330] ]

---
183.

In [6]:
stock = {'시가': [100, 200, 300], 
       '종가': [80, 210, 330]}
print(stock)

{'시가': [100, 200, 300], '종가': [80, 210, 330]}

---
184.

In [7]:
stock = {'10/10': [80, 110, 70, 90],
         '10/11': [210, 230, 190, 200]}
print(stock)

{'10/10': [80, 110, 70, 90], '10/11': [210, 230, 190, 200]}

---
185.

In [14]:
apart = [ [101,102], 
         [201,202],
         [301,302] ]

for i in range(3):
    for j in range(2):
        print(str(apart[i][j]), '호')

101 호
102 호
201 호
202 호
301 호
302 호

In [27]:
#
for row in apart:
    for col in row:
        print(col, '호')

101 호
102 호
201 호
202 호
301 호
302 호

---
186.

In [18]:
apart = [ [101,102], 
         [201,202],
         [301,302] ]

for i in range(2,-1,-1):
    for j in range(2):
        print(str(apart[i][j]), '호')

301 호
302 호
201 호
202 호
101 호
102 호

In [28]:
# 
for row in apart[::-1]:
    for col in row:
        print(col, '호')

301 호
302 호
201 호
202 호
101 호
102 호

---
187.

In [19]:
apart = [ [101,102], 
         [201,202],
         [301,302] ]

for i in range(2,-1,-1):
    for j in range(1,-1,-1):
        print(str(apart[i][j]), '호')

302 호
301 호
202 호
201 호
102 호
101 호

In [29]:
# 
for row in apart[::-1]:
    for col in row[::-1]:
        print(col, '호')

302 호
301 호
202 호
201 호
102 호
101 호

---
188.

In [20]:
apart = [ [101,102], 
         [201,202],
         [301,302] ]

for i in range(3):
    for j in range(2):
        print(str(apart[i][j]), '호')
        print('-----')

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [30]:
#
for row in apart:
    for col in row:
        print(col, '호')
        print('-----')

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

---
189.

In [23]:
apart = [ [101,102], 
         [201,202],
         [301,302] ]

for i in range(3):
    for j in range(1):
        print(str(apart[i][j]), '호')
        print(str(apart[i][j+1]), '호')
        print('-----')

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [31]:
#
for row in apart:
    for col in row:
        print(col, '호')
    print('-----')

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

---
190.

In [25]:
apart = [ [101,102], 
         [201,202],
         [301,302] ]

for i in range(3):
    for j in range(2):
        print(str(apart[i][j]), '호')
print('-----')

101 호
102 호
201 호
202 호
301 호
302 호
-----

In [32]:
#
for row in apart:
    for col in row:
        print(col, '호')
print('-----')

101 호
102 호
201 호
202 호
301 호
302 호
-----